
.logo{
    width: 10%;
    height: 10%;
    margin-left: 3%;
    margin-top:2%;
    float: left;   
}


.iconos{
    width: 20%;
    height: 20%;
}


.imagencoche{
    width: 100%;
    height: 100%;
}

.dibujo{
    width: 10%;
    height: 10%;
    float: left;
    padding: 5%;
    margin: -1%;
}


.imagenblog{
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 2%;
    margin-bottom: 12%;
}

