@import "sass/botones";
@import "sass/cajasSecundarias";
@import "sass/cajasPrincipales";
@import "sass/fotos";
@import "sass/texto";
@import "sass/titulos";
@import "sass/menu";
@import "sass/bootStrap";


